.table-responsive > .table > thead > tr > th, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tfoot > tr > td { 
white-space: normal;
}
.art_apply .notice {
	display: none;
	color: #94BC52;
	font-size: 80px;
	height: 80px;
	left: 50%;
	margin-left: -40px;
	margin-top: -40px;
	position: fixed;
	text-align: center;
	top: 50%;
	width: 80px;
}